/* layout */

body{
    background-color: aliceblue;
    color: black;
    font-size: large;
}

header{
    padding: 20px;
}

header a{
    font-size: x-large;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 20px;
}

.home{
    font-weight: 600;
}


/* index */
.menu{
    background-color: #d2dbdd;
    width: 960px;
    margin: auto;
    padding: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.menu div{
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 400px;
    width: 400px;
}

.menu div:hover{
    background-color: #ffffff;
}

a{
    text-decoration: none;
}


/* add html */
.product-info{
    background-color: #d2dbdd;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product-info input{
    display: block;
    margin-bottom: 10px;
}

.product-info label{
    font-weight: 600;
}

.success-text{
    height: 300px;
    width: 600px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: #a9dda9;
    border-radius: 12px;
}

.fail-text{
    height: 300px;
    width: 600px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: #e04e4e;
    border-radius: 12px;
}