{% extends "layout.html" %}

{% block title %}
    Kassa
{% endblock %}

{% block main %}

    {% if error %}
        <div class="error">{{error}}</div>
    {% endif %}

    <div class="cart-container">
        <div class="cart">
            <h2>KARZINA</h2>
            {% if cart %}
                {% for product in cart %}
                <div class="item">
                    <p class="name">{{product.name}}</p>
                    <p class="price">{{product.price}}</p>
                    <p class="amount">{{product.quantity}}</p>
                </div>
                {% endfor %}
            {% endif %}
            <div class="total">
                Hammasi : {{total}}
            </div>
        </div>

        <div class="barcode">
            <form action="/checkout" method="post">
                <input type="text" name="barcode" placeholder="barcode" autofocus>
                <button class="btn btn-success m-3" type="submit">Qo'shish</button>
            </form>
        </div>
    </div>
{% endblock %}