{% extends "layout.html" %}

{% block title %}
O'zgartirish
{% endblock %}

{% block main %}
    {% if error %}
        <div class="error">{{error}}</div>
    {% endif %}
    <div class="edit-container">
        <form class="edit-form" method="post">
            <input type="text" name="name" value="{{product.name}}" required>
            <input type="number" min="100" name="price" value="{{product.price}}" required>
            <button class="btn btn-success" type="submit">Saqlash</button>
        </form>
    </div>

{% endblock %}