{% extends "layout.html" %}

{% block title %}
Mahsulotlar
{% endblock %}

{% block main %}

<form method="GET" action="/products" class="search-form">
    <input type="text" name="q" placeholder="Mahsulot nomi..." value="{{request.args.get('q','')}}">
    <button class="btn btn-primary" type="submit">Qidirish</button>
</form>

<div class="products-container">
    <div class="product-header">
        <span>Barcode</span>
        <span>Nomi</span>
        <span>Narxi</span>
    </div>
    {% for product in products %}
    <div class="product-item">
        <span>{{product.barcode}}</span>
        <span>{{product.name}}</span>
        <span>{{product.price}}</span> 
        <a href="/edit/{{product.barcode}}">
            <button class="btn btn-primary" type="button">O'zgartirish</button>
        </a>
        <form action="/delete/{{product.barcode}}" method="post">
            <button type="submit">O'chirish</button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}