{% extends "layout.html" %}

{% block title %}
Sotuvlar
{% endblock %}

{% block main %}

<div class="sales-container">

    <div class="sales-header">
        <span>Nomi</span>
        <span>Narxi</span>
        <span>Nechta</span>
        <span>Hammasi</span>
        <span>Vaqt</span>
    </div>
    {% for sale in sales %}
    <div class="sale-item">
        <span>{{sale.product_name}}</span>
        <span>{{sale.price}}</span>    
        <span>{{sale.quantity}}</span>
        <span>{{sale.total}}</span>
        <span>{{sale.sale_date}}</span>
    </div>
    {% endfor %}
</div>

{% endblock %}